/*
*license
 */

.audio-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 9px;
    margin-right: -9px;
    overflow: hidden;
    min-width: 200px;
    position: relative;
}

.audio-slider {
    position: absolute;
    left: 9px;
    top: 12px;
    right: 9px;
}