/*
*license
 */

.chat-info {
    border-left: 1px solid var(--border);
    background: var(--panel-background);
}

.right-column {
    position: relative;
    max-width: 25%;
    flex: 1 1 25%;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}
